{
    "default": "my-wiki",
    "instances": {
        "my-wiki": {
            "url": "https://wiki.example.com",
            "token_id": "YOUR_TOKEN_ID",
            "token_secret": "YOUR_TOKEN_SECRET",
            "description": "Primary Wiki"
        }
    }
}
